on init
    setprop sys.usb.ffs.aio_compat 1

    # Custom overrides that need to happen right on boot
    # Override vendor fstab
    # We only need it to be overridden before things are mounted
    mount none /system/etc/fstab.mt6768 /vendor/etc/fstab.mt6768 bind
    mount none /vendor/lost+found /vendor/overlay bind

on boot
    stop console

on post-fs-data
    chmod 0666 /dev/video0
    chmod 0666 /dev/video1

    setprop persist.vendor.mtk.volte.enable 0
    setprop persist.vendor.mtk_ct_volte_support 0
    setprop persist.dbg.allow_ims_off 1
    setprop persist.dbg.volte_avail_ovr 1
    setprop persist.dbg.vt_avail_ovr 1
    setprop persist.dbg.wfc_avail_ovr 1
    setprop persist.vendor.vilte_support 0
    setprop ro.control_privapp_permissions log

on property:sys.boot_completed=1
    # ZRAM
    swapon_all /vendor/fstab.enableswap

    # switch to schedutil
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "schedutil"

on fs
    mount_all /vendor/etc/fstab.mt6768 --early
    mount_all /vendor/etc/fstab.mt6768 --late
    write /proc/sys/vm/swappiness 60
    write /proc/sys/vm/direct_swappiness 50

on post-fs
    # Unmount the overridden fstab because the SELinux label is incorrect
    # and some MTK daemons can crash because of that
    # (at post-fs, the fstab has already been used to mount the partitions,
    #  so it is fine to just revert back)
    umount /vendor/etc/fstab.mt6768

on property:persist.vendor.radio.port_index=""
    setprop sys.usb.config adb

on property:persist.sys.yogurt.dt2w=0
    exec -- /system/bin/dt2w_event 4

on property:persist.sys.yogurt.dt2w=1
    exec -- /system/bin/dt2w_event 5
